@using Chatable.Data.Entitles.Model;
@using Chatable.Data.Entitles;
@using System.Globalization;
@using System.Net.Http;
@using Newtonsoft.Json;

@inject IDialogService DialogService
@inject HttpClient _http

<link rel="stylesheet" href="/css/AddGroupDialog.css">

<MudDialog class="custom-dialog-content">
    <DialogContent>
        @if (currentUser == null)
        {
            <p>Loading</p>
        }
        else
        {
            <div>
                <div class="app-component-container">
                    <div Class="photos">
                        <MudImage Src="@Constant.defaultBg" Alt="Ảnh nền" Height="150" Style="width: 100%; object-fit: cover;"></MudImage>
                        <MudAvatar Style="height:74px; width:74px; border: 2px solid #fff; position: absolute; left: 50%; transform: translateX(-50%); margin-top: 110px;">
                            <MudImage Src="@currentUser.Avatar"></MudImage>
                        </MudAvatar>
                        <MudIconButton Icon="@Icons.Material.Filled.CameraAlt" Style="position: absolute; width: 15px; height:12px; left: 57%; margin-top: 160px;" />
                        <p style=" position: absolute;  left: 50%; margin-top: 35px; transform: translateX(-50%); font-size: 17px; font-weight: 500;">@currentUser.UserName</p>
                    </div>

                    <div class="infor">
                        <p style=" font-size: 15px; font-weight: 500;"> Thông tin cá nhân </p>
                        <div class="phone">
                            <p class="title">Họ tên</p>
                            <MudText>@currentUser.Name</MudText>
                                <MudTextField @bind-Value="@currentUser.UserName"
                                              Variant="Variant.Outlined" Margin="Margin.Dense"
                                              Style="background-color: white; border-radius: 8px; border-width: 1px;"
                                              HelperText="Sử dụng tên thật để bạn bè dễ dàng nhận diện hơn"></MudTextField>

                            </div>
                            <div class="sex">
                                <p class="title">Giới tính</p>
                                <p>@currentUser.Gender</p>
                        </div>
                        <div class="dob">
                            <p class="title">Ngày sinh</p>
                            <p>@currentUser.DateOfBirth.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </DialogContent>
    <DialogActions >
        <div class="toEdit">
            <MudButton Color="Color.Primary" OnClick="OpenEditDialog">
                Chỉnh sửa thông tin
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>
<style>
    .custom-dialog-content {
        padding 0;
        margin: 0;
        align-content: center;
    }
    .nopadding{
        padding: 0;
    }
    .photos
    {
        position: relative;
        width: 100%;
        text-align: center;
    }
    .infor {
        height: 100px;
        width: 100%;
        margin-top: 80px;
    }
    .phone {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    .sex {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    .dob {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    .title {
        font-size: 16px;
        font-weight: 500;
        width: 40%; 

    }
    .toEdit {
        display: flex;
        width: 100%;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
    }

</style>
@code{
    public class ApiResponse<T>
    {
        public bool Success { get; set; }
        public string Message { get; set; }
        public T Data { get; set; }
    }
}
@code {

    User currentUser;
    protected override void OnInitialized()
    {
        LoadProfile();
        //Console.WriteLine(currentUser);
    }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private void OpenEditDialog()
    {
        DialogService.Show<DialogEditProfile>("Chỉnh sửa thông tin cá nhân");
    }

    private async Task<User> GetCurUser ()
    {
        User curUser = new User();
        try
        {
            var response = await _http.GetAsync("https://localhost:7124/api/v1/User/CurrentUser");

            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                if (responseContent!=null)
                {
                    ApiResponse<User> apiResponse = Newtonsoft.Json.JsonConvert.DeserializeObject<ApiResponse<User>>(responseContent);
                    curUser = apiResponse.Data;
                    return curUser;
                }
                return null;

            }
            return null;
        } 
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            return null;
        }
    }

    private async Task LoadProfile()
    {
        currentUser = await GetCurUser();
        StateHasChanged();
    }
    
}