@using Chatable.Data.Entitles.Model;
@using Chatable.Data.Entitles;
@using System.Globalization;
@using System.Net.Http;
@using Chatable.Data.Entitles.Respond
@using Newtonsoft.Json;

@inject IDialogService DialogService
@inject HttpClient _http
@inject IJSRuntime jsRuntime


<link rel="stylesheet" href="/css/AddGroupDialog.css">

<MudDialog class="custom-dialog-content" >
    <DialogContent>
        @if (currentUser == null)
        {
            <p>Loading</p>
        }
        else
        {
            <div class="app-component-container">
                <div Class="photos">
                    <MudImage Src="@Constant.defaultBg" Alt="Ảnh nền" Height="150" Style="width: 100%; object-fit: cover;"></MudImage>
                    <MudAvatar Style="height:74px; width:74px; border: 2px solid #fff; position: absolute; left: 50%; transform: translateX(-50%); margin-top: 110px;">
                        <MudImage Src="@currentUser.avatarUrl"></MudImage>
                    </MudAvatar>
                    <MudFileUpload T="IFormFile" FilesChanged="UploadFile">
                        <ButtonTemplate>
                            <MudIconButton HtmlTag="label"
                                           Color="Color.Info"
                                           Icon="@Icons.Material.Filled.PhotoCamera"
                                           Style="position: absolute; width: 15px; height:12px; left: 55%; margin-top: 6px;"
                                           for="@context.Id">
                            </MudIconButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                    <MudText style=" position: absolute;  left: 50%; margin-top: 35px; transform: translateX(-50%); font-size: 17px; font-weight: 500;">@currentUser.fullName</MudText>


                </div>

                <div class="infor">
                    <p style=" font-size: 15px; font-weight: 500;"> Thông tin cá nhân </p>
                    <div class="email">
                        <MudText class="title">Email</MudText>
                        <MudText>@(currentUser.email != null ? currentUser.email : "Chưa cập nhập")</MudText>
                    </div>
                    <div class="sex">
                        <MudText class="title">Giới tính</MudText>
                        <MudText>@currentUser.gender</MudText>
                    </div>
                    <div class="dob">
                        <MudText class="title">Ngày sinh</MudText>
                            <MudText>@(currentUser.dob.HasValue ? currentUser.dob.Value.ToString("dd/MM/yyyy") : "N/A")</MudText>
                    </div>
                </div>
            </div>
        }
    </DialogContent>
    <DialogActions >
        <div class="toEdit">
            <MudButton StartIcon="@Icons.Material.Filled.Edit"  Color="Color.Primary" OnClick="OpenEditDialog" Style="width: 100%">
                Chỉnh sửa thông tin
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    User currentUser = Constant.currentUser;
    private void OpenEditDialog()

    //jsRuntime.InvokeAsync<string>("console.log", "avatar", Constant.currentUser.avatarUrl);
    {
        MudDialog.Close(DialogResult.Ok(true));
        DialogService.Show<DialogEditProfile>("Chỉnh sửa thông tin cá nhân");
    }
    private void UploadFile()
    {
        
    }
}

   