@using Chatable.Data.Entitles.Model;
@using Chatable.Data.Entitles;
@using System.Globalization;
@using System.Net.Http;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations

@inject IDialogService DialogService
@inject HttpClient _http

<link rel="stylesheet" href="/css/DialogProfile.css">

@* ai test nhớ điền mail vô nha *@
<MudDialog class="custom-dialog-content">
    <DialogContent>
            @if (currentUserInfor == null)
            {
            <p>Loading</p>
            }
            else
            {
                <div class="content">
                        <div Class="photos">
                            <MudImage Src="@Constant.defaultBg" Alt="Ảnh nền" Height="150" Style="width: 100%; object-fit: cover;"></MudImage>
                            <MudAvatar Style="height:74px; width:74px; border: 2px solid #fff; position: absolute; left: 50%; transform: translateX(-50%); margin-top: 110px;">
                                <MudImage Src="@currentUserInfor.avatarUrl"></MudImage>
                            </MudAvatar>
                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFile">
                                <ButtonTemplate>
                                    <MudIconButton HtmlTag="label"
                                                   Color="Color.Info"
                                                   Icon="@Icons.Material.Filled.PhotoCamera"
                                                   Style="position: absolute; width: 15px; height:12px; left: 55%; margin-top: 6px;"
                                                   for="@context.Id">
                                    </MudIconButton>
                                </ButtonTemplate>
                            </MudFileUpload>

                                                 
                        </div>

                        <div class="infor">
                            <p style=" font-size: 18px; font-weight: 500; margin-top: 10px;"> Thông tin cá nhân </p>
                            <div style="margin-top: 10px;"> 
                                <MudText Style="font-size: 16px">Tên hiển thi</MudText>
                                <MudTextField Required="true" RequiredError="Bạn cần điền tên hiển thị!"
                                      @bind-Value="@model.FullNameChanged" For="@(() => model.FullNameChanged)"
                                      TextChanged="CheckChange"
                                                  Variant="Variant.Outlined" Margin="Margin.Dense" 
                                                  Style="background-color: white; border-radius: 8px; border-width: 2px; border-color: #ECEDF0; margin-top: 5px;"
                                                  HelperText="Sử dụng tên thật để bạn bè dễ dàng nhận diện hơn"></MudTextField>
                                <MudDivider></MudDivider>
                            </div>

                            <div style="margin-top: 10px;">
                                 <MudText Style="font-size: 16px">Email</MudText>
                                <MudTextField @bind-Value="@model.EmailChanged" For="@(() => model.EmailChanged)"
                                      TextChanged="CheckChange"
                                      Required="true" RequiredError ="Bạn cần điền Email!" 
                                              Variant="Variant.Outlined" Margin="Margin.Dense"
                                      Style="background-color: white; border-radius: 8px; border-width: 2px;border-color: #ECEDF0; margin-top: 5px"></MudTextField>

                            </div>
                            <div style="margin-top: 10px">
                                <MudText Style="font-size: 16px">Giới tính</MudText>

                            <MudRadioGroup T="string"
                                       SelectedOption="@model.GenderChanged"
                                       SelectedOptionChanged="OnGenderChanged"
                                       Class="center-radio-group"
                                       Style="background-color: white!important; margin-top: 10px">

                                    <MudRadio Option=@("Nam")
                                                Color="Color.Primary" 
                                                Dense="true" Class="radio-custom"
                                                Style="margin-left: 60px">Nam</MudRadio>
                                    <MudRadio Option=@("Nữ")
                                                Color="Color.Primary"
                                                Dense="true" 
                                                Class="radio-custom" 
                                                Style="margin-left: 60px">Nữ</MudRadio>
                                </MudRadioGroup>
                                
                  
                            </div>
                            <div style="margin-top: 10px; background-color: white">
                                <MudText Style="font-size: 16px">Ngày sinh</MudText>

                                <MudDatePicker MaxDate="DateTime.Now"
                                               Variant="Variant.Outlined"
                                       Style="background-color: white; border-radius:8px; border-width: 2px; border-color: #ECEDF0 ;margin-top: 5px"
                                       Date="@model.dobChanged"
                                               DateChanged="OnDobChanged"
                                       For="@(() => model.dobChanged)"
                                               DisableToolbar="true"
                                               DateFormat="dd / MM / yyyy"  
                                               Required="true"
                                               RequiredError="Hãy chọn ngày sinh của bạn"
                                               Class="top0" >
                                </MudDatePicker>
                        </div>
                            <p class="erro mb-8">@erroMessage</p>
                            <MudDivider></MudDivider>
                        </div>
                    </div>
            }
    </DialogContent>
    <DialogActions >
        <div class="bottom-right-button">
            <MudButton Color="Color.Primary" OnClick="Cancel" Style="margin-right: 20px; background-color: #F5F5F5; color: black">
                Hủy
            </MudButton>
            <MudButton Color="Color.Primary" OnClick="SaveChange" Class="btn-save btn-save-hover btn-save-disable "
                       Disabled="@(!CanUpdate)" >
                <MudText Style="color: white"> Cập nhập</MudText>
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>



@code {
    public class ApiResponse<T>
    {
        public bool Success { get; set; }
        public string Message { get; set; }
        public T Data { get; set; }
    }
    public class UserInfor
    {
        public string userName { get; set; }
        public string fullName { get; set; }
        public string email { get; set; }
        public string avatarUrl { get; set; }
        public DateTime dob = DateTime.Now;
        public string gender { get; set; }
        public string password { get; set; }
        public DateTime? lastTimeOnl { get; set; }
        public DateTime? createdAt { get; set; }

    }
    public class UpdateUserForm
    {

        [Required(ErrorMessage = "Họ tên người dùng là bắt buộc.")]
        public string FullNameChanged { get; set; }

        [Required(ErrorMessage = "Email là bắt buộc.")]
        public string EmailChanged { get; set; }

        [Required(ErrorMessage = "Ngày sinh là bắt buộc.")]
        public DateTime? dobChanged = DateTime.Today;

        public string GenderChanged { get; set; } = "Nam";

       
    }
}

@code {

    User curUser = Constant.currentUser;
    UserInfor currentUserInfor;
    bool CanUpdate = false;
    string erroMessage;


    UpdateUserForm model = new UpdateUserForm();
    List<IBrowserFile> selectedFiles = new List<IBrowserFile>();
    String avatar;


    protected override async Task OnInitializedAsync()
    {
        await LoadProfile();
    }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }


    void Cancel()
    {
        MudDialog.Close(DialogResult.Ok(true));
        DialogService.Show<DialogProfile>("Thông tin cá nhân");
    }

    private void OnGenderChanged(string selectedgender)
    {
        model.GenderChanged = selectedgender;
        if (CanUpdate == false)
        {
            CanUpdate = (currentUserInfor.gender != model.GenderChanged) ? true : false;
        }
    }
    private void OnDobChanged(DateTime? newDate)
    {
        model.dobChanged = newDate;
        if (CanUpdate == false)
        {
            if (currentUserInfor.dob != model.dobChanged.GetValueOrDefault())
            {
                CanUpdate = true;
            }
        }
    }
    private void CheckChange()
    {
        if (!CanUpdate)
        {
            if (model.FullNameChanged != null && model.EmailChanged != null)
            {
                if (model.FullNameChanged != currentUserInfor.fullName ||
                    model.EmailChanged != currentUserInfor.email)
                {
                    CanUpdate = true;
                }
            }
        }
    }

    private async Task<bool> SaveChange()
    {
        //gán các giá trị đã thay đổi vô current user
        currentUserInfor.fullName = model.FullNameChanged;
        currentUserInfor.email = model.EmailChanged;
        currentUserInfor.gender = model.GenderChanged;
        if (model.dobChanged.HasValue)
        {
            currentUserInfor.dob = model.dobChanged.GetValueOrDefault();
        }

        //call api save change

        if (currentUserInfor.fullName != null && currentUserInfor.email != null)
        {
            try
            {

                currentUserInfor.gender = model.GenderChanged;
                string serializedUser = JsonConvert.SerializeObject(currentUserInfor);
                HttpRequestMessage httpRequestMessage = new HttpRequestMessage();
                httpRequestMessage.Method = new HttpMethod("PUT");
                httpRequestMessage.RequestUri = new Uri(Constant.uriHost + "User");
                httpRequestMessage.Content = new StringContent(serializedUser);
                httpRequestMessage.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");
                var response = await _http.SendAsync(httpRequestMessage);

                if (response.IsSuccessStatusCode)
                {
                    // Show success message
                    await DialogService.ShowMessageBox("Thông báo","Bạn đã cập nhập thông tin thành công!");

                    await GetCurUser();
                    Constant.currentUser = curUser;

                    // Close the dialog
                    MudDialog.Close(DialogResult.Ok(true));

                    DialogService.Show<DialogProfile>("Thông tin cá nhân");

                }
                else
                {
                    string resBody = await response.Content.ReadAsStringAsync();
                    dynamic result = JsonConvert.DeserializeObject(resBody);
                    erroMessage = result.Message.ToString();
                }
            }
            catch (Exception ex)
            {
                erroMessage = ex.Message;
            }
        }

        return await Task.FromResult(true);
    }

    private async Task<User> GetCurUser()
    {
        User user = new User();
        try
        {
            var response = await _http.GetAsync(Constant.uriHost + "User/currentUser");

            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                if (responseContent != null)
                {
                    ApiResponse<User> apiResponse = Newtonsoft.Json.JsonConvert.DeserializeObject<ApiResponse<User>>(responseContent);
                    curUser = apiResponse.Data;
                    curUser = curUser;
                    return user;
                }
                return null;

            }
            return null;
        }
        catch (Exception e)
        {
            return null;
        }
    }


    private async Task LoadProfile()
    {
        if (curUser!= null)
        {
            currentUserInfor = new UserInfor();

            currentUserInfor.fullName = curUser.fullName;
            currentUserInfor.avatarUrl = curUser.avatarUrl;
            currentUserInfor.email = curUser.email;
            currentUserInfor.gender = curUser.gender;
            currentUserInfor.dob = curUser.dob.GetValueOrDefault();

            if (currentUserInfor != null)
            {
                model.FullNameChanged = currentUserInfor.fullName;
                model.EmailChanged = currentUserInfor.email;
                model.dobChanged = currentUserInfor.dob;
                model.GenderChanged = currentUserInfor.gender;

                StateHasChanged();
            }
        }


    }
    private async void UploadFile(IBrowserFile file)
    {
        try
        {

            using var fileStream = file.OpenReadStream();

            if (fileStream != null)
            {
                selectedFiles.Add(file);

                await UpAvatar(file);
            }
            else
            {
                await OpenErroDialog();
            }
        }
        catch (Exception ex)
        {
            // Xử lý các lỗi khác nếu có
            await OpenErroDialog();
        }

    }
    private async Task UpAvatar(IBrowserFile file)
    {
        try
        {

            using var content = new MultipartFormDataContent();
            content.Add(new StreamContent(file.OpenReadStream()), "file", file.Name);

            var response = await _http.PostAsync(Constant.uriHost + "User/UploadAvatar", content);

            // Kiểm tra xem yêu cầu có thành công không
            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                if (responseContent != null)
                {
                    ApiResponse<String> apiResponse = Newtonsoft.Json.JsonConvert.DeserializeObject<ApiResponse<String>>(responseContent);
                    avatar = apiResponse.Data;
                    Constant.currentUser.avatarUrl = avatar;
                    NotifyStateChanged();
                    await LoadProfile();
                }

            }
            else
            {
                // Xử lý lỗi nếu có
                Console.WriteLine($"Error uploading file. Status code: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            // Xử lý lỗi nếu có
            Console.WriteLine($"Error uploading file: {ex.Message}");
        }


    }
    private void NotifyStateChanged() => StateHasChanged();

    private async Task OpenErroDialog()
    {
        var dialog = DialogService.Show<ErroUpImage>("Thông báo");
        var result = await dialog.Result;
    }
}
